/* header */
.nav-item a:hover{
    color: orangered;
}

span{
    color: orangered;
}
.nav-link .active:hover{
    color: orangered;
}

.nav-item a{
    font-size: 18px;
}

#home{
    background: #ffff;
}
.hero-section {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.btn-2{
    background-color: orangered !important;
}

.btn:hover{
    background-color: orangered !important;
    border: none;
    color: #f1f1f1 !important;
    transform: scale(1.1);
    overflow: hidden;
}

.btn-1{
    border: 2px solid orangered !important;
    margin-left: 20px;
}










@media (min-width: 992px) {
    .nav-rounded {
      border-radius: 1rem;
    }
  }

  /* 🌘 Dark mode auto-detect */
  @media (prefers-color-scheme: dark) {
    .navbar {
      background-color: #1e1e1e !important;
    }
    .navbar .navbar-brand,
    .navbar .nav-link {
      color: #f1f1f1 !important;
    }
  }
